table {
    width: 100%;
}

thead {
    font-weight: bold;
}

.button-delete {
	background-color: red;
    color: white;
	border-color: red;
    font-size: 1.125rem;
    font-weight: 700;
    border-radius: 0.25rem;
    text-decoration: none!important;
    line-height: 1.25rem;
    background-image: none;
    border-style: solid;
    appearance: none;
}