.color-nav{
    background-color: #7A62CB  ;
  }

.navbar-brand{
    color:aliceblue;
    --bs-navbar-brand-hover-color: yellow;
}

.navbar-brand .nav-item:hover{
    color: pink;
}

.nav-link{
    color:aliceblue;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color:aliceblue;
}

.navbar-nav{
    --bs-nav-link-hover-color: yellow;
}