.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.btn-outline-secondary{
  --bs-btn-color: #6c757d !important;
    --bs-btn-border-color: #6c757d !important;
    --bs-btn-hover-color: #6c757d !important;
    --bs-btn-hover-bg: #fff !important;
    --bs-btn-hover-border-color: #6c757d !important;
    --bs-btn-focus-shadow-rgb: 108,117,125 !important;
    --bs-btn-active-color: #6c757d !important;
    --bs-btn-active-bg: #fff !important;
    --bs-btn-active-border-color: #6c757d !important;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: #6c757d !important;
    --bs-btn-disabled-bg: transparent !important;
    --bs-btn-disabled-border-color: #6c757d !important;
    --bs-gradient: none !important;
    
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
